<p id="notice"><%= notice %></p>

<h1>Device Models</h1>

<table>
  <thead>
    <tr>
      <th>Device carrier</th>
      <th>Device model</th>
      <th>Device sale price</th>
      <th>Device buy back price</th>
      <th>Device repair price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_models.each do |device_model| %>
      <tr>
        <td><%= device_model.device_carrier %></td>
        <td><%= device_model.device_model %></td>
        <td><%= device_model.device_sale_price %></td>
        <td><%= device_model.device_buy_back_price %></td>
        <td><%= device_model.device_repair_price %></td>
        <td><%= link_to 'Show', device_model %></td>
        <td><%= link_to 'Edit', edit_device_model_path(device_model) %></td>
        <td><%= link_to 'Destroy', device_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device Model', new_device_model_path %>
