<div class= "row">
<%= form_with(model: buy_back, local: true) do |form| %>
  <% if buy_back.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buy_back.errors.count, "error") %> prohibited this buy_back from being saved:</h2>
      <ul>
      <% buy_back.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
      <% end %>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
            <label><strong>Company:</strong></label><br>
            <%= form.text_field :company %>
            </div>
            <div class="form-group">
            <label><strong>PO:</strong></label><br>
            <%= form.text_field :purchase_number, id: :buy_back_purchase_number %>
            </div>
            <div class="form-group">
            <label><strong>Received Date:</strong></label><br>
            <%= form.date_field :received_date %>
            </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
              <label><strong>First Name:</strong></label><br>
              <%= form.text_field :first_name, id: :buy_back_first_name %>
              </div>
              <div class="form-group">
               <label><strong>Last Name:</strong></label><br>
              <%= form.text_field :last_name, id: :buy_back_last_name %>
              </div>
              <div class="form-group">
              <label><strong>Address:</strong></label><br>
              <%= form.text_area :customer_address, size: "23x5" %>
              </div>
              <div class="form-group">
            <label><strong>E-Mail:</strong></label><br>
            <%= form.text_field :email, id: :buy_back_email %>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="form-group">
            <label><strong>Tracking #:</strong></label><br>
            <%= form.text_field :tracking_number, id: :tracking_number %>
            </div>
            <div class="form-group">
            <label><strong>Phone Number:</strong></label><br>
            <%= form.text_field :phone_number, id: :phone_number %>
            </div>
            <div class="form-group">
            <label><strong>Status:</strong></label><br>
            <%= form.select :status, ["","Quoted","Received", "Tested", "Entered", "Revised", "Paid"] %>
            </div>
              <div class="form-group">
            <%= form.label :comments, class: 'control-label' %><br>
             <%= form.text_area :comments, size: "23x3" %>
            </div>
            </div>
            </div>
          </div>
  <hr>
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
       <%= form.add_nested_fields_link :devices, 'Add More Devices', class: 'btn btn-warning' %><br><hr>
    </div>
  </div>

  <%= form.nested_fields_for :devices, wrapper_tag: :div do | new | %>

  <div class="container">
    <div class="row">
      <div class="form-group"
      <strong>Qty</strong><br>
        <%= new.text_field :quantity %><%= new.remove_nested_fields_link %>
      </div>
      <div class="form-group"
        <strong>Carrier</strong><br>
      <%= new.select :carrier, ["", "Unlocked", "AT&T", "T-Mobile", "Verizon", "Sprint"] %><%= new.remove_nested_fields_link %>
      </div>
      <div class="form-group"
        <strong>Model</strong><br>
        <%= new.text_field :device_name%> <%= new.remove_nested_fields_link %>
      </div>
      <div class="form-group"
        <strong>IMEI</strong><br>
         <%= new.text_field :imei %><%= new.remove_nested_fields_link %>
         </div>
       <div class="form-group"
        <strong>Price </strong><br>
        <%= new.text_field :price%> <%= new.remove_nested_fields_link %>
      </div>
      <div class="form-group"
        <strong>Comments</strong><br>
        <%= new.text_area :comments%><%= new.remove_nested_fields_link %>
      </div>
      </div>
      </div>


  <hr>
  <% end %>

  </div>
  <div>
    <p> Do you agree that the information you provided is truthful to the best of your ability, that you may be contacted if there are issues with the device and possibly asked to provide a refund? *
      </p>
      <input type="checkbox">
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
    <%= form.label "Driver's License" %>
    </div>
        <div class="col">
    <%= form.text_field :drive_license, id: :buy_back_drive_license %>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <%= form.label "Upload ID"%>
          <%= form.file_field :image %>
          <% if @buy_back.image? %>
          <%= image_tag @buy_back.image.url, :size => "260x180" %>
            <%= form.check_box :remove_image %>
            remove image
            <% end %>
          </div>
          </div>
          </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
      <%= form.button :submit, class: 'btn btn-danger' %>
      </div>
      </div>
    </div>
    <div class="form-group">
    <% end %>
</div>
<div>
