<p id="notice"><%= notice %></p>


<div class="container">
  <div class="container-fluid full-width">
  <h4>Buy Backs</h4>
  <div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
      <th><%= sortable "purchase_number" %></th>
      <th>Company</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th><%= sortable "status" %></th>
      <th><%= sortable "updated_at" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buy_backs.each do |buy_back| %>
      <tr>
        <td><%= buy_back.purchase_number %></td>
        <td><%= buy_back.company %></td>
        <td><%= buy_back.first_name %></td>
        <td><%= buy_back.last_name %></td>
        <td><%= buy_back.email %></td>
        <td><%= buy_back.status%></td>
        <td><%= buy_back.received_date%></td>
        <td><%= link_to 'Show', buy_back, class: 'btn btn-mini btn-warning' %></td>
        <td><%= link_to 'Edit', edit_buy_back_path(buy_back), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Destroy', buy_back, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%= will_paginate @buy_back, renderer: BootstrapPagination::Rails %>

<br>

<%= link_to 'New Buy Back', new_buy_back_path, class: 'btn btn-primary' %>
</div>
</div>
