<p id="notice"><%= notice %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--Author      : @arboshiki-->
<div class="container">
  <div class="row">
    <div class="col-lg-4">

        <div class="form-group">
        <strong>PO#:</strong>
        <%= @buy_back.purchase_number %>
      </div>
      <div class="form-group">
        <strong>Company:</strong>
        <%= @buy_back.company %>
      </div>
      <div class="form-group">
        <strong>Date:</strong>
        <%= @buy_back.received_date %>
      </div>
      </div>

      <div class="col-lg-4">
      <div class="form-group">
        <strong>First name:</strong>
        <%= @buy_back.first_name %>
      </div>
      <div class="form-group">
        <strong>Last name:</strong>
        <%= @buy_back.last_name %>
      </div>
      <div class="form-group">
        <strong>Address </strong>
        <%= @buy_back.customer_address %>
      </div>
      <div class="col-lg-4">
    <div class="form-group">
    <strong>Phone Number:</strong>
    <%= @buy_back.phone_number %>
    </div>
    </div>
      <div class="form-group">
        <strong>Email:</strong>
        <%= @buy_back.email %>
      </div>
      <div class="form-group">
        <strong>Driver's License</strong>
        <%= @buy_back.drive_license %>
        </div>
        </div>
            <div class="col-lg-4">
          <div class="form-group">
          <strong>Comments</strong>
          <%= @buy_back.comments %>
          </div>
          </div>
        </div>
</div>
<div class="container">
<% if @buy_back.image? %>
<%= image_tag @buy_back.image.url, :size => "260x180" %>
<% end %>

<h3> Devices </h3>
<table class="table">
 <thead class="thead-dark">
<tr>
  <th> Qty </th>
  <th> Carrier </th>
  <th> Model </th>
  <th> IMEI </th>
  <th> Comments </th>
  <th> Price </th>
  <th> Sub-Total  </th>

  </tr>
  </thead>
  <tbody>
    <% running_total = 0 %>
      <% for @devices in @buy_back.devices %>
    <tr>
      <td><%= @devices.quantity %> </td>
      <td><%= @devices.carrier %> </td>
      <td><%= @devices.device_name %> </td>
      <td><%= @devices.imei %> </td>
      <td><%= @devices.comments%></td>
      <td><%= number_to_currency(@devices.price) %> </td>
      <td><%= number_to_currency(@devices.price * @devices.quantity ) %> </td>
      <% running_total =  running_total + (@devices.price * @devices.quantity) %>

    </tr>
    <% end %>
</tbody>
</table>
</div>
<div class="container">
<h4 class="pull-right"> Total: <%=  number_to_currency(running_total) %> </h4>

<%= link_to 'Edit', edit_buy_back_path(@buy_back) %> |
<%= link_to 'Back', buy_backs_path %>
</div>
