<!DOCTYPE html>
<html>
<head>
<title></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                                            'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
  <body>
    
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", buy_backs_path %></a></li>
       <li><%= link_to "Purchase Order", buy_backs_path %></li>
      <li><%= link_to "Devices", devices_path %></li>
     </ul>
    </div>



      <div class='container'>
          <%= yield %>
        </div>
      </body>
      </html>


</html>
